@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Monaco editor font */
.monaco-editor {
  font-feature-settings: "liga" 1, "calt" 1;
}
